CREATE OR REPLACE VIEW v_category_perf AS
SELECT
  p.category,
  p.subcategory,
  COUNT(DISTINCT oi.order_id)      AS orders,
  SUM(oi.quantity)                 AS units_sold,
  SUM(oi.unit_price * oi.quantity) AS revenue,
  SUM(oi.unit_price * oi.quantity - oi.estimated_cost) AS gross_profit
FROM order_items oi
JOIN products p ON p.product_id = oi.product_id
GROUP BY p.category, p.subcategory
ORDER BY revenue DESC;
