CREATE OR REPLACE VIEW v_customer_cohorts AS
SELECT
  to_char(c.first_order_date::date, 'YYYY-MM') AS cohort_month,
  to_char(o.order_date::date, 'YYYY-MM')       AS activity_month,
  COUNT(DISTINCT o.customer_id)                AS active_customers,
  SUM(oi.unit_price * oi.quantity)             AS revenue
FROM customers c
JOIN orders o ON o.customer_id = c.customer_id
JOIN order_items oi ON oi.order_id = o.order_id
GROUP BY cohort_month, activity_month
ORDER BY cohort_month, activity_month;
