CREATE OR REPLACE VIEW v_daily_sales AS
SELECT
  order_date::date AS order_day,
  SUM(oi.unit_price * oi.quantity)        AS revenue,
  SUM(oi.estimated_cost)                  AS cost,
  SUM(oi.unit_price * oi.quantity - oi.estimated_cost) AS gross_profit,
  COUNT(DISTINCT o.order_id)              AS orders
FROM orders o
JOIN order_items oi ON oi.order_id = o.order_id
WHERE o.status IN ('Completed','Shipped')
GROUP BY order_day
ORDER BY order_day;
