CREATE OR REPLACE VIEW v_marketing_roi AS
SELECT
  mc.campaign_id,
  mc.channel,
  mc.campaign_name,
  mc.start_date,
  mc.end_date,
  mc.spend,
  COALESCE(SUM(oi.unit_price * oi.quantity),0) AS attributed_revenue
FROM marketing_campaigns mc
LEFT JOIN orders o ON o.campaign_id = mc.campaign_id
LEFT JOIN order_items oi ON oi.order_id = o.order_id
GROUP BY mc.campaign_id, mc.channel, mc.campaign_name, mc.start_date, mc.end_date, mc.spend
ORDER BY attributed_revenue DESC;
