-- DROP if exists (safe to re-run)
DROP TABLE IF EXISTS web_sessions CASCADE;
DROP TABLE IF EXISTS returns CASCADE;
DROP TABLE IF EXISTS payments CASCADE;
DROP TABLE IF EXISTS order_items CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS inventory CASCADE;
DROP TABLE IF EXISTS marketing_campaigns CASCADE;
DROP TABLE IF EXISTS products CASCADE;
DROP TABLE IF EXISTS suppliers CASCADE;
DROP TABLE IF EXISTS customers CASCADE;

-- customers
CREATE TABLE customers (
  customer_id TEXT PRIMARY KEY,
  region TEXT,
  state TEXT,
  city TEXT,
  gender TEXT,
  age_bracket TEXT,
  signup_source TEXT,
  first_order_date DATE
);

-- products
CREATE TABLE products (
  product_id TEXT PRIMARY KEY,
  category TEXT,
  subcategory TEXT,
  brand TEXT,
  unit_cost NUMERIC(12,2),
  unit_price NUMERIC(12,2),
  launch_date DATE
);

-- suppliers
CREATE TABLE suppliers (
  supplier_id TEXT PRIMARY KEY,
  supplier_name TEXT,
  lead_time_days INT,
  rating NUMERIC(3,2)
);

-- inventory
CREATE TABLE inventory (
  product_id TEXT,
  warehouse_id TEXT,
  current_stock INT,
  safety_stock INT,
  primary_supplier_id TEXT,
  PRIMARY KEY (product_id, warehouse_id)
);

-- marketing campaigns
CREATE TABLE marketing_campaigns (
  campaign_id TEXT PRIMARY KEY,
  channel TEXT,
  campaign_name TEXT,
  start_date DATE,
  end_date DATE,
  spend NUMERIC(12,2)
);

-- orders
CREATE TABLE orders (
  order_id TEXT PRIMARY KEY,
  customer_id TEXT,
  order_date DATE,
  channel TEXT,
  device TEXT,
  campaign_id TEXT,
  delivery_days INT,
  status TEXT,
  ship_state TEXT,
  ship_city TEXT
);

-- order_items
CREATE TABLE order_items (
  order_item_id TEXT PRIMARY KEY,
  order_id TEXT,
  product_id TEXT,
  quantity INT,
  unit_price NUMERIC(12,2),
  discount NUMERIC(5,4),
  estimated_cost NUMERIC(12,2)
);

-- payments
CREATE TABLE payments (
  payment_id TEXT PRIMARY KEY,
  order_id TEXT,
  payment_method TEXT,
  payment_status TEXT,
  amount NUMERIC(12,2),
  shipping_fee NUMERIC(8,2)
);

-- returns
CREATE TABLE returns (
  return_id TEXT PRIMARY KEY,
  order_item_id TEXT,
  return_date DATE,
  reason TEXT,
  refund_amount NUMERIC(12,2)
);

-- web_sessions
CREATE TABLE web_sessions (
  session_id TEXT PRIMARY KEY,
  customer_id TEXT,
  session_start TIMESTAMP,
  source TEXT,
  medium TEXT,
  campaign_id TEXT,
  device TEXT,
  pages_viewed INT,
  duration_seconds INT,
  bounced INT
);
